# Dependências
node_modules/
package-lock.json

# Vercel
.vercel

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
firebase-debug.log*

# Firebase
.firebase/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.heic
*.tmp